/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.toggle-button {
	-fx-text-fill: #F7F4E9;
	-fx-background-color: #438945;
	-fx-font-size: 10;
	-fx-font-Family: consolas;
	-fx-border-radius: 4px;
}

.toggle-button:hover {
	-fx-background-color: #EBA63F;
}

.button:active {
	-fx-background-color: #EBA63F;
}

.toggle-button:selected {
	-fx-background-color: #EBA63F;
}

.choice-box {
	-fx-text-fill: #F7F4E9;
	-fx-background-color: #438945;
	-fx-font-size: 10;
	-fx-font-Family: consolas;
	-fx-border-radius: 4px;
}

.choice-box .label {
	-fx-text-fill: #F7F4E9;
	-fx-font-size: 10;
	-fx-font-Family: consolas;
	-fx-border-radius: 4px;
}

.choice-box .menu-item:focused {
  -fx-background-color: #EBA63F;
}

.choice-box .context-menu {
    -fx-background-color: #438945;
}
	
#LeftVBox {
	-fx-text-fill: #bd0002;
	-fx-control-inner-background: #ff874b;
	-fx-background-color: #F7F4E9;
}

#BasePane {
	-fx-background-color: #1D1D2C;
}

#MainPane {
	-fx-text-fill: #bd0002;
	-fx-control-inner-background: #ff874b;
	-fx-background-color: #F7F4E9;
}

#MainMenu {
	-fx-control-inner-background: #ff874b;
	-fx-background-color: #438945;
}

#MainMenu .label {
	-fx-font-size: 10;
	-fx-font-Family: consolas;
	-fx-text-fill: #F7F4E9;
}

.separator .line {
	-fx-border-style: solid;
	-fx-border-color: #1D1D2C;
	-fx-border-width: 1px;
}

/*
 * TableView
 */

.table-view .column-header-background .filler {
	

	
}

.table-view .column-header {
	-fx-background-color: #438945;
	-fx-font-size: 10;
	-fx-font-Family: consolas;
	-fx-text-fill: #F7F4E9;
	-fx-border-style: solid;
	-fx-border-color: #1D1D2C;
	-fx-border-width: 1px;
}
	
.table-view .column-header .label {
	-fx-font-size: 10;
	-fx-font-Family: consolas;
	-fx-text-fill: #F7F4E9;
}	

.table-view .table-cell {
    -fx-border-color: #438945;
    -fx-padding: 2 0 2 10px;
}
.table-row-cell:hover {
    -fx-text-background-color: #3F84EB;
    -fx-font-weight: bold;
}
.table-row-cell:odd {
    -fx-background-color: #93f9b911;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even {
    -fx-background-color: #a0d1a1;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:selected {
    -fx-background-color: #EBA63F;
	-fx-text-fill: #F7F4E9;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: #438945;
}

/*
 * Labels
 */
	
#surfaceLabel {
    -fx-background-color: #29542A;
	-fx-font-size: 10;
	-fx-font-Family: consolas;
	-fx-text-fill: #F7F4E9;
}

/*
 * Text Fields
 */
.text-field {
    -fx-background-color: #EBA63F;
	-fx-font-size: 10;
	-fx-font-Family: consolas;
	-fx-text-fill: #F7F4E9;
}

/*
 * Text Areas
 */
.text-area {
    -fx-background-color: #438945;
	-fx-font-size: 10;
	-fx-font-Family: consolas;
	-fx-text-fill: #F7F4E9;
 }
 
.text-area .content {
    -fx-background-color: #EBA63F;
    -fx-border-color: #EBA63F;
 }